node_modules

# Output
.output
.vercel
.netlify
.wrangler
/.svelte-kit
/build
data
./MAP.exe
./MAP
_commit.txt
server/storage/
server/build/

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*
!.env.example
!.env.test

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
MAP.exe
MAP.exe
